/*#headerButtons{
  margin-top: 83px;
  margin-right: 60px;
  float: right;
}

#headerButtons a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(170, 113, 43);
  border: 3px solid rgb(0, 0, 0);
  border-radius: 15px;
  padding: 5px 15px;
  font-size: 30px;
  margin-left: 30px;
}

#headerButtons a:hover {
  background-color: #914735; /* Chocolate 
  color: white;
  box-shadow: 0 6px 6px 0 rgba(0,0,0,0.24), 0 6px 6px 0 rgba(0,0,0,0.19);
}*/

@font-face{
  font-family: PressStart2P;
  src:url(./phasertemplate-master/fuentes/PressStart2P-Regular.ttf)
}

#cabecera{
  align-items: center;

}
div .logo{
  /*background: rgb(61, 31, 84);*/
  margin-left: 17%;
  width: 330px; 
 height: 200px;
 align-items: center;
}

nav .menu{
  width: 100%;
  height: 70px;
  background: rgb(45, 6, 90);
  display: flex;
  align-items: center; /*alinear div hijos*/
}

.agrupar{
  width: 1500px;
  background: rgba(197, 153, 223, 0.5);
  margin: auto;
}

.boton{
    margin: auto;
}

.boton a{
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  font-family:'PressStart2P';
  color: white;
  padding: 20px;
  display: block;
}

.boton a:hover{
  background: rgb(82, 35, 100);
}

body {
  
  
  background-image: url("./phasertemplate-master/images/background1.jpg");
}

.bloqueText{
  border: 3px solid rgb(0, 0, 0);
  background: rgba(255, 255, 255, 0.7);
}

h1{
  font-family: 'PressStart2P';
  text-align: left;
  line-height: 50px;
  margin: 20px 30px;
  font-size: 30px;
  text-decoration: underline;
  background-color: rgba(167, 106, 37, 0.507);
}
p {
  text-align: left;
  font-weight: bold;
  margin: 20px 30px;
  
}

#ventanaPhaser{
  border: 3px solid rgb(0, 0, 0);
  border-radius: 15px;
  margin:auto;
}